<div style="
    display: flex;
    align-items: center;
    gap: 10px;padding: 8px;">
    <div style="background-color: aquamarine;width: 100px;text-align: center;">
      <a href="http://192.168.1.5:3000/bill/listBills">Đơn hàng chờ xác nhận</a>
    </div>
    <div style="background-color: aquamarine;width: 100px;text-align: center;">
      <a href="http://192.168.1.5:3000/bill/listBillsXacnhan">Đơn hàng đã xác nhận</a>
    </div>
    <div style="background-color: aquamarine;width: 100px;text-align: center;">
      <a href="http://192.168.1.5:3000/bill/listBillsDagiao">Đơn hàng đã giao vận chuyển</a>
    </div>
    <div style="background-color: aquamarine;width: 100px;text-align: center;">
      <a href="http://192.168.1.5:3000/bill/listBillsDanhan">Đơn hàng đã nhận</a>
    </div>
    <div style="background-color: aquamarine;width: 100px;text-align: center;">
      <a href="http://192.168.1.5:3000/bill/listBillsHuydon">Đơn hàng đã hủy</a>
    </div>
  </div>