<div style="display: flex; text-align: center; align-items: center; gap: 9px; padding: 8px ; justify-content: center; width: 80%; margin: auto;" >
  <div style="background-color: aquamarine; width: 25%;height: 40px; text-align: center">
    <a href="http://192.168.1.9:3000/bill/listBills"  >Đơn hàng chờ xác nhận</a>
  </div>
  <div style="background-color: aquamarine; width: 25%;height: 40px; text-align: center">
    <a href="http://192.168.1.9:3000/bill/listBillsXacnhan" 
      >Đơn hàng đã xác nhận</a
    >
  </div>
  <div style="background-color: aquamarine; width: 25%;height: 40px; text-align: center;">
    <a href="http://192.168.1.9:3000/bill/listBillsDagiao" 
      >Đơn hàng đã giao vận chuyển</a
    >
  </div>
  <div style="background-color: aquamarine; width: 25%;height: 40px; text-align: center">
    <a href="http://192.168.1.9:3000/bill/listBillsDanhan"  >Đơn hàng đã nhận</a>
  </div>
 
</div>
<style>
  .menu-link:visited {
    color: red;
  }
</style>
