<%- include('../inc/top') %>
<div class="container">
    <div class="page-wrapper p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"> ADD Product</h2>
                </div>
                <div class="" style="width: 470px;">


                    <div class="container">
                        <div style="float: left;">
                            <div>
                                <img src="/S_Shop_Server/public/images/1.png" id="selectedImage"
                                width="300px"height="300px" style="margin-top: 0px;"/> 
                                <div style="width: 200px;height: 30px;">
                                    <input type="file" width="auto"id="inputFile" onchange="displayImage()"
                                    style="margin-left: 80px;margin-top: 6px;" />
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 310px;">
                            <div>
                                <input type="text" placeholder="Ten san pham" class="input" required />
                                <input type="number" placeholder="500$" class="inputgia" required />
                            </div>
                            <div >
                                <p>Chon Size</p>
                                <div class="checkbox-container">
                                    <input type="checkbox" id="size36" name="size" value="36">
                                    <label for="size36"> 36</label>
                                  </div>
                                  <div class="checkbox-container">
                                    <input type="checkbox" id="size37" name="size" value="37">
                                    <label for="size37"> 37</label>
                                  </div>
                                  <div class="checkbox-container1">
                                    <input type="checkbox" id="size38" name="size" value="38">
                                    <label for="size38"> 38</label>
                            </div>
                            </div>
                            <div>
                                <select style="width: 150px;" id="color" name="color">
                                    <option value="">Loai san pham</option>
                                    <% listLoai.forEach(data=> { %>
                                      <option value="<%= data.id %>"><%= data.name %></option>
                                    <% } ) %>
                                  </select>


                                <input type="number" placeholder="So log: 500" class="inputsoluong" required />
                            </div>
                            <textarea id="myTextarea" class="myTextarea" onchange="trimTextarea()">
                                Để bỏ viền thẻ input trong HTML, bạn có thể sử dụng CSS để tùy chỉnh giao diện của thẻ đó. Dưới đây là một ví dụ về cách làm điều này
                            </textarea>
                            <div style="text-align: center;margin-top: 20px;">
                                <button style="text-align: center;width: 300px;height: 30px;color: aliceblue;background-color: rgb(212, 47, 157);border-radius: 10px;
                                border: none;outline: none;margin-top: 26px;" 
                                >Add san pham</button>
                            </div>
                        </div>
                
                    </div>


</div>
</div>
</div>
</div>
<script>
    function displayImage() {
  var input = document.getElementById("inputFile");
  var image = document.getElementById("selectedImage");
  
  var file = input.files[0];
  var reader = new FileReader();
  
  reader.onload = function(e) {
    image.src = e.target.result;
  };
  
  reader.readAsDataURL(file);
}

</script>
<style>
    .container{
        width: 800px;
        height: 400px;
        margin: auto;
        margin-top: 40px;
    }
    .input{
        width: 200px;
        height: 30px;
        border-width: 1px;
        border-radius: 10px;
        border-color: blue;
        border: none;
        outline: none;
        font-size: 18px;

    }
    .inputgia{
        width: 70px;
        height: 30px;
        padding-left: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: red;
    }
    .inputsoluong{
        width: auto;
        height: 30px;
        padding-left: 40px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: red;
    }
    .myTextarea{
        width: 300px;
        height: 130px;
        padding-left: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    .size{
        background-color: beige;
        border-radius: 3px;
        width: 30px;
        height: auto;
        float: left;
        text-align: center;
        color: black;
    }
</style>
<style>
    .checkbox-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      float: left;
    }
  
    .checkbox-container input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
  
    .checkbox-container input[type="checkbox"]:checked {
      background-color: #2196F3;
      border-color: #2196F3;
    }
  
    .checkbox-container label {
      font-size: 16px;
      margin-right: 15px;
    }
    .checkbox-container1 {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .checkbox-container1 input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
  
    .checkbox-container1 input[type="checkbox"]:checked {
      background-color: #2196F3;
      border-color: #2196F3;
    }
  
    .checkbox-container1 label {
      font-size: 16px;
    }
  </style>
<%- include('../inc/bottom') %>